@media  (min-width:600px) and (max-width: 768px)  {

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'DM Sans', sans-serif;
    max-width: 768px;
    min-width: 601px;
    overflow-x: hidden;
    }

    :root{

        --violeta-botones: #673de6;

        
        /* colores menu */
        
        --blanco-header: #ffffff;
        --negro-letras-header:  #1d1e20;
        --gris-nav-hoover: #afb4a1be;

        /* colores hero */

        --gris-contador-hero: #e3dcfc;
        --violeta-letras-hero: #2f1c6f;
        --violeta-boton-hero: #673de6;
        --violeta-numero-contador-hero: #2f1c6f;
        --violeta-promo-precio-hero: #2f1c6f;
        --blanco-texto-hero: white;
        --blanco-hero: white;
        --negro-wordpress-hero: #1d1e20;
        --blanco-fondo-wordpress-hero: white;

        /* colores cards */

        --violeta-fondo-cards: #1f1346;
        --blanco-texto-cards: white;
        --violeta-cards: #301c6b;
        --violeta-boton-cards: #673de6;
        --violeta-logos-cards: #673de6;

        /* colores footer */

        --gris-fondo-footer: #f4f5ff;
        --violeta-texto-footer: #2f1c6f;
        --gris-linea-footer: #d5dfff;
    }


/* navegador */


header{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    width: 100%;
    z-index: 10;
}

.header-izquierda{
    width: 100%;
    justify-content: space-between;
    gap: 1.6rem;
}

.menu-hamburguesa{
    display: none;
}

.menu-icon img {
    width: 3rem;
    height: 3rem;
}

.lenguaje {
    display: flex;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* hero */

.hero{
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;    
    row-gap: 3rem;
    padding-top: 1.4rem;
    padding-bottom: 3.6rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem; 
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    width: 100%;

}

.precio-promo{
    width: 100%;
    align-items: start;
    text-align: start;
    justify-content:flex-start;
}

.titulo-hero{
    font-size: 2.8rem;
}

.monto{
    font-size: 4rem;
}

.botones-hero{
    display: flex;
    flex: 0;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center !important;
    margin-top: 2rem;
}

.empezar-ya{
    background-color: var(--violeta-boton-hero);
    font-size: 1.6rem;
    border-radius: 0.8rem;
    height: 4.8rem;
    width: 100%;
    color: var(--blanco-texto-hero);
    border: none;
    font-weight: 600;
}

.contador{    
    width: 100%;
    order: -1;    /* para dar vuelta el orden*/
}

.mesesgratis{
    margin-bottom: 0.5rem;
}

.img-hero{
    height: auto;
    width: 100%;
    max-width: 768px;
    align-self: flex-end;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* cards */

.section-cards{
    background-color: var(--violeta-fondo-cards);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.titulo h1 {
    font-size: 2.8rem;
}

.texto_titulo p {
    margin: 0 auto;
    margin-bottom: 4.8rem;
    max-width: 50.8rem; 
    padding-right: 2rem;
    padding-left: 2rem;
}

.cards{
    width: 100%; 
    padding: 0 1rem; 
    box-sizing: border-box;
}

.card_3simplespasos,
.card_rapidoyseguro,
.card_Gratis {
    width: 100%; 
    max-width: 50.8rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;  
    padding-right: 1.5rem;
    box-sizing: border-box; 
    height: auto; 
    min-height: auto;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* footer */

footer{
    background-color: var(--gris-fondo-footer);
    /* padding-left: 1.6rem;
    padding-right: 1.6rem; */
    color: var(--violeta-texto-footer);
    width: 100%;
    min-width: 300px;
    padding-right: 4.2rem;
    padding-left: 4.2rem;
    margin: auto;
}

.logo-redes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hostinger-footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0;
    justify-content: flex-start;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    order: -1;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 9rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1.6rem;
}

.logos-pagos{
    align-items: flex-start;
    row-gap: 2rem;
    padding-bottom: 2rem;
}

.lista-tarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*hace las 4 columnas*/
    grid-template-rows: repeat(2, auto);   /*hace las dos filas que necesito*/
    gap: 1rem;
} 

.politicas{
    order: -1; /* da vuelta el orden pone politicas arriba de tarjetas */
    text-decoration: none;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
    gap: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* hace las2 columnas */
    grid-template-rows: repeat(2, auto);  /*hace las 2 filas */
    column-gap: 6rem;
    row-gap: 1rem;
} 

.politicas a{
    text-decoration: none;
    align-items: center;
    list-style: none;
}

.lista-tarjetas img{
    height: 4rem;
    width: 6rem;
    border-radius: 0.8rem;
    border: solid 0.05rem rgba(0, 0, 0, 0.2);
}

.ymas{
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}

hr{
    border: none;
    height: 0.1rem;
    background-color: var(--gris-linea-footer);
}

.final-footer{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    font-size: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

}