@media (max-width: 600px) {
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
color: white;
font-family: 'DM Sans', sans-serif;
max-width: 600px;
min-width: 300px;
overflow-x: hidden;
}

:root{

        --violeta-botones: #673de6;

        
        /* colores menu */
        
        --blanco-header: #ffffff;
        --negro-letras-header:  #1d1e20;
        --gris-nav-hoover: #afb4a1be;

        /* colores hero */

        --gris-contador-hero: #e3dcfc;
        --violeta-letras-hero: #2f1c6f;
        --violeta-boton-hero: #673de6;
        --violeta-numero-contador-hero: #2f1c6f;
        --violeta-promo-precio-hero: #2f1c6f;
        --blanco-texto-hero: white;
        --blanco-hero: white;
        --negro-wordpress-hero: #1d1e20;
        --blanco-fondo-wordpress-hero: white;

        /* colores cards */

        --violeta-fondo-cards: #1f1346;
        --blanco-texto-cards: white;
        --violeta-cards: #301c6b;
        --violeta-boton-cards: #673de6;
        --violeta-logos-cards: #673de6;

        /* colores footer */

        --gris-fondo-footer: #f4f5ff;
        --violeta-texto-footer: #2f1c6f;
        --gris-linea-footer: #d5dfff;
    }

/* navegador */

header {    
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: 100%;
    z-index: 10;
}

.header-izquierda {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.menu-icon img {
width: 2.8rem;
height: 2.8rem;
}

.lenguaje {
    display: flex;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* hero */

.hero {
flex-direction: column;
padding: 1.2rem;
row-gap: 2rem;
max-width: 100%;
margin: 0 auto;
}

.precio-promo {
width: 100%;
text-align: left;
}

.titulo-hero {
font-size: 2.4rem;
}

.monto {
font-size: 3.2rem;
}

.botones-hero {
flex-direction: column;
gap: 1.6rem;
align-items: center;
width: 100%;
}

.contador {
    order: -1;
    width: 100%;
}

.empezar-ya {
width: 100%;
font-size: 1.4rem;
height: 4.4rem;
}

.img-hero {
width: 100%;
height: auto;
}

.wordpress{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--blanco-fondo-wordpress-hero);
    color: var(--negro-wordpress-hero);
    padding-bottom: 5rem;
    padding-top: 4.8rem;
    font-weight: 400;
}

.wordpress img{
    height: 5rem;
    width: 5rem;
    padding-right: 1.4rem;
}

.wordpress b{
    padding-left: 0.6rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* cards */

.section-cards {
    padding: 1.2rem;
}

.titulo h1 {
font-size: 2.4rem;
text-align: center;
}

.texto_titulo p {
    font-size: 1.4rem;
    padding: 0 1.2rem;
}

.cards {
width: 100%;
padding: 0;
}

.card_3simplespasos,
.card_rapidoyseguro,
.card_Gratis {
padding: 1.2rem;
width: 100%;
}

footer {
    background-color: var(--gris-fondo-footer);
    color: var(--violeta-texto-footer);    
    padding: 2rem 1.6rem;
    width: 100%;
    min-width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: auto;
    width: 100%;
}

.logo-redes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 2rem;
}

.hostinger-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.redes-sociales {
    flex-direction: row;
    gap: 2.2rem;
    order: -1;
    margin-bottom: 1.5rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.lista-tarjetas {
grid-template-columns: repeat(2, 1fr);
gap: 1rem;

}

.politicas {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 1rem;
}

}
















































































































































































