@media (max-width: 1138px) {

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'DM Sans', sans-serif;
    max-width: 1138px;
    overflow-x: hidden;
    margin: auto 0;
    }

    :root{

        --violeta-botones: #673de6;

        
        /* colores menu */
        
        --blanco-header: #ffffff;
        --negro-letras-header:  #1d1e20;
        --gris-nav-hoover: #afb4a1be;

        /* colores hero */

        --gris-contador-hero: #e3dcfc;
        --violeta-letras-hero: #2f1c6f;
        --violeta-boton-hero: #673de6;
        --violeta-numero-contador-hero: #2f1c6f;
        --violeta-promo-precio-hero: #2f1c6f;
        --blanco-texto-hero: white;
        --blanco-hero: white;
        --negro-wordpress-hero: #1d1e20;
        --blanco-fondo-wordpress-hero: white;

        /* colores cards */

        --violeta-fondo-cards: #1f1346;
        --blanco-texto-cards: white;
        --violeta-cards: #301c6b;
        --violeta-boton-cards: #673de6;
        --violeta-logos-cards: #673de6;

        /* colores footer */

        --gris-fondo-footer: #f4f5ff;
        --violeta-texto-footer: #2f1c6f;
        --gris-linea-footer: #d5dfff;
    }
/* navegador */


header{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    z-index: 10;
}


.header-izquierda{
    width: 100%;
    justify-content: space-between;
    gap: 1.6rem;
}

.menu-hamburguesa{
    display: none;
}

.menu-icono{
    display: flex;
    cursor: pointer;
    width: 3rem;
    justify-content: flex-end;
    width: 100%;
}

.menu-icon img {
    width: 30px;
    height: 30px;
}

.nav-links ul {
    display: none;
    position: absolute;
    top: 8.8rem;
    right: 4rem;
    background-color: var(--blanco-header);
    flex-direction: column;
    padding: 1.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 20rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--negro-letras-header);
    font-size: 16px;
    font-weight: 300;
    flex-direction: column;
    gap: 1.6rem;
}

.nav-links a:hover {
    color: var(--gris-nav-hoover);
    text-decoration: none;
}

.header-derecha{
    display: none;
    position: absolute;
    margin-top: 8.8rem; 
    padding-right: 4rem;
    background-color: var(--blanco-header);
    flex-direction: column;
    padding: 1.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 20rem;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    gap: 2.4rem;
}

.lenguaje {
    display: none;
    align-items: center;
    gap: 1rem; 
}

.bandera {
    height: 2.4rem;
    width: auto;
    object-fit: contain;
    display: block;
}

.idioma {
    color:var(--negro-letras-header); 
    font-size: 16px;
    font-weight: 600;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* hero */

.hero{
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;    
    row-gap: 3rem;
    padding-top: 6.3rem;
    padding-bottom: 9rem;
}

.precio-promo{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.titulo-hero{
    font-size: 2.8rem;
}

.monto{
    font-size: 4rem;
}

.img-hero{
    height: auto;
    width: 100%;
    max-width: 1138px;
    align-self: flex-end;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* cards */

.section-cards{
    background-color: var(--violeta-fondo-cards);
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font-size: 2.8rem;
}

.texto_titulo p {
    margin: 0 auto;
    margin-bottom: 4.8rem;
    max-width: 68.8rem; 
    padding: 0 2rem;
}

.cards{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    align-items: center;
}

.card_3simplespasos,
.card_rapidoyseguro,
.card_Gratis {
    width: 68.4rem;
    min-height: 18.4rem;
    padding: 3.2rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* footer */

.logos-pagos{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}

.lista-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
} 

.politicas{
    order: -1; /* davuelta el orden pone politicas arriba de tarjetas */
    flex-wrap: wrap;
} 

hr{
    border: none;
    height: 0.1rem;
    background-color: var(--gris-linea-footer);
}

.final-footer{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}

}